<div data-component="trade-offer">
  <div class="trade-header" [class.selected]="selectControl.value">
    <div class="row align-items-center justify-content-between">
      <div class="col-lg-8 col-xl-6">
        <h2 class="title" *ngIf="selectControl.value">{{ selectControl.value.name }}'s offer</h2>

        <app-dropdown
          [formControl]="selectControl"
          [options]="survivors"
          [placeholder]="selectPlaceholder"
          (selectionChanged)="survivorChanged.emit($event)"
        >
        </app-dropdown>
      </div>

      <div class="col-lg-4 col-xl-6">
        <span class="points-qtd">{{ calculateInventoryValue(inventoryForm.value) }} Points</span>
      </div>
    </div>
  </div>

  <div class="inventory-wrapper" *ngIf="selectControl.value">
    <div class="empty-offer" *ngIf="calculateInventoryValue(inventoryForm.value) === 0">
      <p>Select the items that you want to trade</p>
      <span class="material-icons">double_arrow</span>
    </div>

    <div class="amount-error" *ngIf="inventoryForm.invalid">
      <p class="error-label">For your safety, you must keep at least 1 item of each category</p>
    </div>

    <app-inventory
      *ngIf="calculateInventoryValue(inventoryForm.value) > 0"
      [showOnlyBiggerThanZero]="true"
      [form]="inventoryForm"
    >
    </app-inventory>
  </div>
</div>
