@import 'base/imports';

[data-component='section-title'] {
  padding: 0 0 12px;
  margin: 0 0 36px;
  border-bottom: 1px solid $green;
  display: flex;
  align-items: center;

  .title {
    font-size: 24px;
    color: $green;
    font-weight: 600;
    margin-right: 30px;

    @include sm {
      font-size: 40px;
    }
  }

  .total {
    border-left: 1px solid $green;
    padding-left: 25px;
    font-size: 15px;
    color: $green;
    font-weight: 600;

    @include sm {
      font-size: 18px;
    }
  }

  &.small {
    padding: 0 0 6px;
    margin: 12px 0 24px;

    .title {
      font-size: 20px;

      @include sm {
        font-size: 26px;
      }
    }
  }

}
