<header data-component="header">
  <div class="container">
    <h1 class="logo-wrapper">
      <a [routerLink]="['/']" class="logo-link">
        <img class="logo" src="../../../assets/img/logo.png" alt="Zombie.io Logo" title="Zombie.io">
      </a>
    </h1>

    <nav class="navigation">
      <ul class="menu-list">
        <li class="menu-item" *ngFor="let item of nav" routerLinkActive="active">
          <a class="menu-link" [routerLink]="item.url" (click)="closeMenu()">{{ item.name }}</a>
        </li>
      </ul>

      <button class="menu-btn" (click)="toggleMenu()">
        <span class="material-icons">{{ menuOpened ? 'close' : 'menu' }}</span>
      </button>
    </nav>
  </div>

  <app-report-modal
    *ngIf="alert.reportModal.show"
    [infectedSurvivor]="alert.reportModal.infectedSurvivor"
  >
  </app-report-modal>
</header>
