/* Define your css variables here */

/* FONT */
$main-font: 'Source Sans Pro', sans-serif;

/* COLORS */
$black: #000;
$white: #fff;

$red: #b90000;
$blue: #2e4582;
$yellow: #ffd500;
$grey: #8b92a9;
$grey2: #9095a2;
$blue-dark: #1e1e2f;
$blue-light: #27293d;

$light-grey: #1f1f22;
$medium-grey: #121212;
$dark-grey: #0d0c0f;
$main-green: #00c148;

