/* Define your css variables here */

/* FONT */
$main-font: 'Source Sans Pro', sans-serif;

/* COLORS */
$black: #000;
$white: #fff;

$red: #b90000;
$green: #218a48;

$light-grey: #1f1f22;
$medium-grey: #121212;
$dark-grey: #0d0c0f;
