<div data-component="create-edit-survivor">
  <app-section-title title="Create new survivor"></app-section-title>

  <app-loader *ngIf="loading"></app-loader>

  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="row form-row">
      <div class="form-control col-md-4">
        <app-input
          label="Name"
          id="name"
          placeholder="Insert your name"
          [formControl]="form.get('name')"
          maxlength="100"
          [errorMessages]="errorMessages.name"
        >
        </app-input>
      </div>

      <div class="form-control col-md-2">
        <app-input
          label="Age"
          id="age"
          placeholder="Insert your age"
          [formControl]="form.get('age')"
          maxlength="3"
          inputMask="999"
          [errorMessages]="errorMessages.age"
        >
        </app-input>
      </div>

      <div class="form-control col-auto">
        <app-condition-toggle
          label="Gender"
          [options]="genderOptions"
          [control]="form.get('gender')"
        >
        </app-condition-toggle>
      </div>

      <div class="col-md-12">
        <app-section-title
          title="Inventory"
          [small]="true"
          [complement]="isEditPage() ? 'Not editable' : ''"
        >
        </app-section-title>
        <app-inventory
          [form]="form.get('items')"
        >
        </app-inventory>
      </div>

      <div class="col-md-12">
        <app-section-title title="Location" [small]="true"></app-section-title>

        <app-map
          *ngIf="!loading"
          [formControl]="form.get('lonlat')"
        >
        </app-map>
      </div>
    </div>

    <div class="btn-wrapper">
      <app-button
        title="Back"
        url="/survivors"
        secondary="true"
      >
      </app-button>

      <app-button
        title="Save"
        type="submit"
        [disabled]="form.invalid || loading"
      >
      </app-button>
    </div>
  </form>
</div>
