@import 'base/imports';

[data-component='create-edit-survivor'] {

  agm-map {
    height: 300px;
  }

  .form-row {
    margin-bottom: 40px;
  }

  [data-component='button'] {
    min-width: 200px;
    margin: 0 0 20px;
  }

  .empty-inventory {
    text-align: center;
    padding: 30px 0 20px;

    p {
      color: $white-grey;
      font-size: 24px;
      margin: 0 0 30px;
    }
  }

  .page-header {
    position: relative;
  }

  .status {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    color: $green;
    padding: 0 0 15px;

    @include sm {
      padding: 0;
    }

    &.infected {
      color: $red;
    }
  }

}

