@import 'base/imports';

[data-component='create-edit-survivor'] {

  agm-map {
    height: 300px;
  }

  .form-row {
    margin-bottom: 40px;
  }

  [data-component='button'] {
    min-width: 200px;
    margin: 0 0 20px;
  }

}

