@import 'base/imports';

[data-component='create-edit-survivor'] {

  agm-map {
    height: 300px;
  }

  .form-row {
    margin-bottom: 40px;
  }

  [data-component='button'] {
    min-width: 200px;
    margin: 0 0 20px;
  }

  .empty-inventory {
    text-align: center;
    padding: 30px 0 20px;

    p {
      color: $white-grey;
      font-size: 24px;
      margin: 0 0 30px;
    }
  }

}

