@import 'base/imports';

[data-component='input'] {
  margin: 0 0 16px;

  @include sm {
    margin: 0 0 24px;
  }

  .input-wrapper {
    border: 1px solid $green;
    border-radius: 8px;
    overflow: hidden;
    background-color: $light-grey;
    display: flex;
    align-items: center;
    position: relative;

    .input-field {
      padding: 16px;
      font-size: 16px;
      width: 100%;
      background-color: transparent;
      border: 0;
      border-radius: 8px;
      color: $green;

      @include sm {
        font-size: 18px;
      }

      &::placeholder {
        color: rgba($color: $white, $alpha: .4);
        font-style: italic;
      }

      &.disabled {
        cursor: not-allowed;
      }

      &.icon-padding {
        padding-left: 60px;
      }
    }

    [data-component='button'] {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      margin-right: 12px;

      .material-icons {
        font-size: 24px;
      }
    }
  }

  .material-icons {
    transform: scaleX(-1);
    color: $green;
    position: absolute;
    left: 16px;
    font-size: 30px;
  }

  &.error {
    .input-wrapper {
      border-color: $red;
    }
  }
}
