<div data-component="input" [class.error]="formControl.dirty && formControl.touched && formControl.invalid">
  <label
    *ngIf="label"
    class="input-label"
    [for]="id"
    [class.error]="formControl.dirty && formControl.touched && formControl.invalid"
  >
    {{ label }}
  </label>

  <div class="input-wrapper">
    <span class="material-icons">{{ icon }}</span>

    <input
      #input
      class="input-field"
      [type]="type"
      [id]="id"
      [name]="id"
      [mask]="inputMask"
      [maxlength]="maxlength"
      [formControl]="formControl"
      [placeholder]="placeholder"
      [class.error]="formControl.dirty && formControl.touched && formControl.invalid"
      [class.icon-padding]="icon"
      (change)="inputChanged.emit($event.target.value)"
      (keydown.enter)="$event.preventDefault()"
    >
  </div>

  <div class="errors" *ngIf="formControl.errors">
    <label
      class="error-label"
      [hidden]="!(formControl.errors[item.error] && formControl.dirty && formControl.touched && formControl.invalid)"
      *ngFor="let item of errorMessages"
    >
      {{ item.message }}
    </label>
  </div>
</div>
