@import 'base/imports';

[data-component='input'] {
  margin: 0 0 24px;

  .label {
    color: $main-green;
    margin: 0 0 8px;
    font-size: 18px;
  }

  .input-wrapper {
    border: 1px solid $main-green;
    border-radius: 8px;
    overflow: hidden;
    background-color: $medium-grey;
    display: flex;
    align-items: center;

    .input-field {
      padding: 16px;
      font-size: 18px;
      width: 100%;
      background-color: transparent;
      border: 0;
      border-radius: 8px;
      color: $main-green;

      &::placeholder {
        color: rgba($color: $white, $alpha: .4);
        font-style: italic;
      }
    }

    [data-component='button'] {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      margin-right: 12px;

      .material-icons {
        font-size: 24px;
      }
    }
  }

  &.error {
    .label {
      color: $red;
    }

    .input-wrapper {
      border-color: $red;

      .input-field {
        color: $red;
        caret-color: $red;

        &::placeholder {
          color: $red;
        }
      }
    }
  }
}
