<div data-component="map">
  <div class="row">
    <div class="col-md-6">
      <app-input
        #search
        label="Location"
        placeholder="Search for a location"
      >
      </app-input>
    </div>

    <div class="col-auto">
      <app-button
        title="Find me"
        [tooltip]="tooltipText"
        [disabled]="geolocationDisabled || geolocationNotSupported"
        icon="gps_fixed"
        (clickOutput)="setCurrentLocation()"
      >
      </app-button>
    </div>
  </div>

  <agm-map
    [latitude]="lat"
    [longitude]="lon"
    [zoom]="zoom"
    [minZoom]="minZoom"
    [styles]="theme"
    [restriction]="restriction"
  >
    <agm-marker
      class="marker"
      [latitude]="lat"
      [longitude]="lon"
      (dragEnd)="onDragEnd($event)"
      [markerDraggable]="true"
    >
    </agm-marker>
  </agm-map>
</div>
