<div data-component="map">
  <div class="row">
    <div class="col-md-6">
      <app-input
        label="Latitude and Longitude"
        placeholder="Latitude and Longitude"
        [formControl]="formControl"
      >
      </app-input>
    </div>

    <div class="col-md-6">
      <app-input
        #search
        *ngIf="showMap"
        label="Location"
        placeholder="Search for a location"
      >
      </app-input>
    </div>
  </div>

  <agm-map [latitude]="lat" [longitude]="lon" [zoom]="zoom" [styles]="theme" *ngIf="showMap">
    <agm-marker
      class="marker"
      [latitude]="lat"
      [longitude]="lon"
      (dragEnd)="onDragEnd($event)"
      [markerDraggable]="true"
    >
    </agm-marker>
  </agm-map>
</div>
