@import 'base/base.scss';

html {
  height: 100%;
  overflow-x: hidden;

  ul,
  li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  body {
    height: 100%;
    background-color: $light-grey;

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      -webkit-font-smoothing: antialiased;
      outline: none;
      color: $white;
      font-family: $main-font;

      &:focus {
        outline: none;
      }
    }

    a {
      &:hover {
        text-decoration: none;
      }
    }

    main {
      min-height: calc(100% - 192);

      @include sm {
        min-height: calc(100% - 226px);
      }
    }
  }
}

.main-content {
  border-radius: 8px;
  background-color: $medium-grey;
  padding: 16px;
  position: relative;
  min-height: 450px;
  box-shadow: 0 0 10px 0 rgba($color: $dark-grey, $alpha: .5);

  @include sm {
    padding: 16px 24px;
    border-radius: 12px;
  }
}

ngx-skeleton-loader {
  font-size: 0;

  .loader {
    background-color: $medium-grey !important;
  }
}
